@using SmartPOS.Entity.EntityModels
@using SmartPOS.App.Models


@model SmartPOS.App.Models.CurrencyVm
@{
    ViewBag.Title = "Currency";
    Layout = "~/Views/Shared/_Master.cshtml";
    List<Currency> currencies = ViewBag.Currency;
}

<h2>Currency</h2>

<div class="card">
    <div class="card-block">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal form-material" }))
        {
            @Html.AntiForgeryToken()
            @*<h4>Enter Currency Info</h4>*@
            <hr />
            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
            <div class="form-group">
                @Html.LabelFor(m =>m.Name,  new { @class = "col-md-12" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-line" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Sign, new { @class = "col-md-12" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Sign, new { @class = "form-control form-control-line" })
                    @Html.ValidationMessageFor(m => m.Sign)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.Id)
                    <input type="submit" class="btn btn-success" value="Save" name="Currency" />
                </div>
            </div>
        }
    </div>
</div>
<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <table class="table" id="CurrencyTable">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th></th>
                </tr>

                <tbody>
                @foreach (var currency in currencies)
                {
                    <tr>
                        <td>@currency.Name</td>
                        <td>@currency.Sign</td>
                        <td>
                            <button onclick="LoadCurrencyInfo('@currency.Id');" class="btn btn-sm btn-default">Edit</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    
    <script>
        function LoadCurrencyInfo(id) {
            if (id != null) {
                var json = { id: id };
                $.ajax({
                    url: '@Url.Action("GetCurrencyById", "Currency")',
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (result) {
                        $('#Name').val(result.Name);
                        $('#Sign').val(result.Sign);
                        $('#Id').val(result.Id);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                    },
                    complete: function () {

                    }
                });
            }
        }

        $(document).ready(function() {
            $('#CurrencyTable').DataTable();
        });
    </script>
}
