@using SmartPOS.Entity.EntityModels
@using SmartPOS.App.Models
@model SmartPOS.App.Models.SupplierVm
@{
    ViewBag.Title = "Supplier";
    Layout = "~/Views/Shared/_Master.cshtml";
    List<Supplier> suppliers = ViewBag.Supplier;
}

<div class="card">
    <div class="card-block">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal form-material" }))
        {
            @Html.AntiForgeryToken()
            @*<h4>Enter Currency Info</h4>*@
            <hr />
            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-12" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-line" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address, new { @class = "col-md-12" })
                <div class="col-md-12">
                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control form-control-line" })
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Mobile, new { @class = "col-md-12" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control form-control-line" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Fax, new { @class = "col-md-12" })
                <div class="col-md-12">
                    @Html.TextAreaFor(m => m.Fax, new { @class = "form-control form-control-line" })
                    @Html.ValidationMessageFor(m => m.Fax)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.Id)
                    <input type="submit" class="btn btn-success" value="Save" name="Supplier" />
                </div>
            </div>
        }
    </div>
</div>
<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <table class="table" id="SupplierTable">
                <thead>
                    <tr>

                        <th>Name</th>
                        <th>Address</th>
                        <th>Mobile</th>
                        <th></th>
                    </tr>

                <tbody>
                    @foreach (var supplier in suppliers)
                    {
                        <tr>
                            <td>@supplier.Name</td>
                            <td>@supplier.Address</td>
                            <td>@supplier.Mobile</td>
                            <td>
                                <button onclick="LoadSupplierInfo('@supplier.Id');" class="btn btn-sm btn-default">Edit</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script>
        function LoadSupplierInfo(id) {
            if (id != null) {
                var json = { id: id };
                $.ajax({
                    url: '@Url.Action("GetSupplierById", "Supplier")',
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (result) {
                        $('#Name').val(result.Name);
                        $('#Address').val(result.Address);
                        $('#Mobile').val(result.Mobile);
                        $('#Fax').val(result.Fax);
                        $('#Id').val(result.Id);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                    },
                    complete: function () {

                    }
                });
            }
        }

        $(document).ready(function() {
            $('#SupplierTable').DataTable();
        });
    </script>
}

